---
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal.astro';
---

<Layout title="Jonathan Sinaga">
  <div class="w-screen bg-kanagawa-bgDim pt-2 px-4" id="terminal-body" style="height: 100vh; overflow-y: scroll;">
    <Terminal />
  </div>
</Layout>
